.presentation {
  padding-top: 2rem;
  padding-left: 4rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  background-color: #495E57;
}
 .presentation-text{
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  max-width: 65ch;
  

 }
 .presentation h1 {
  color: #f4ce14;
  font-size: 3rem;
  font-family: 'Markazi Text', sans-serif;
 }
 .presentation h3 {
  font-family: 'Markazi Text', sans-serif;
  font-size: 2.5rem;
 }

.presentation img {
  border-radius: 1rem;
  height: 30rem;
  justify-self: end;
  object-fit: cover;
  width: 90%;
  margin-bottom: -4rem;
  grid-column: 2;
}
.reserve-button{
    background-color: #f4ce14;
    border-radius: 16px;
    color: #495e57;
    font-weight: bold;
    padding: .5rem 1rem;
    margin-top: 2rem;
    font-family: 'Karla',sans-serif;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .presentation {
    grid-template-columns: 1fr 1fr;
  }

  .presentation img {
    margin-bottom: -4.375rem; 
  }
}

