nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2%;
  background: #FFFFFF;
  box-sizing: border-box;
}
nav img {
  max-width: 15rem;
}
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-between;
}

nav ul li {
  margin-right: 1em;
}

nav ul li a {
  text-decoration: none;
  color: #495e57;
  display: flex;
  transition: color 0.3s, background-color 0.3s;
}
nav ul li:not(.nav-bar-logo) a:hover {
  color: #edefee;
  background-color: #495e57;
}
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 0;
    margin-bottom: 0.5em;
  }
}