nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2%;
  background: #FFFFFF; 
}
nav img {
  max-width: 15rem;
}
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-around;
}

nav ul li {
  margin-right: 1em;
}

nav ul li a {
  text-decoration: none;
  color: #495e57;
  display: flex;
}
