nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2%;
  background: #EDEFEE; 
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 1em;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}
