* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #495E57;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Markazi Text Medium', sans-serif;
  font-weight: normal;
}

p {
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  font-size: 16px;
}

h2 {
  color: #F4CE14; 
}
